<div class="mdui-container-fluid">
	<div class="mdui-appbar mdui-appbar-fixed" style="top: 30px;">
		<div class="mdui-toolbar mdui-color-blue-grey-900">
			<span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" onclick="RES.redirectPage('./template/apps/settings/settings.html', null);"><i class="mdui-icon material-icons">&#xe317;</i></span>
			<a href="javascript:;" class="mdui-typo-title">流量使用情况</a>
			<div class="mdui-toolbar-spacer"></div>
			<a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-menu="{target: '#menu233'}"><i class="mdui-icon material-icons">&#xe5d4;</i></a>
			<!--菜单-->
			<ul class="mdui-menu" id="menu233">
				<li class="mdui-menu-item">
					<a href="javascript:mdui.alert('移nm','移动网络设置');;" class="mdui-ripple" >
						移动网络
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div style="margin-top:60px"></div>
	<div class="mdui-container">
		<!--信息面板-->
		<div class="mdui-row">
			<div class="mdui-col-md-12">
				<div class="PanelBody">
					<div class="mdui-list">
						<p class="mdui-text-color-teal-500">流量消耗<br>
						<span style="font-size:2em">114514</span> GB WLAN 网络流量
						</p>
						<span class="gray">某月某日至今</span>
						<div class="mdui-progress mdui-color-teal-100" style="height: 30px;">
							<div class="mdui-progress-determinate mdui-color-teal-500" style="width: 57%;"></div>
						</div>
						<span class="gray">0B</span>
						<span class="gray" style="float: right;">200000 GB</span>
						<hr>
						<li class="mdui-list-item mdui-ripple">
							<div class="mdui-list-item-content">
								<div class="mdui-list-item-title">流量节省程序</div>
								<div class="mdui-list-item-text">关闭</div>
							</div>
						</li>
						<hr>
						<p class="mdui-text-color-teal-500">WLAN</p>
						<li class="mdui-list-item mdui-ripple">
							<div class="mdui-list-item-content">
								<div class="mdui-list-item-title">WLAN 网络流量消耗</div>
								<div class="mdui-list-item-text">未知</div>
							</div>
						</li>
						<hr>
						<li class="mdui-list-item mdui-ripple">
							<div class="mdui-list-item-content">
								<div class="mdui-list-item-title">网络流量限制</div>
							</div>
						</li>
					</div>
				</div>
			</div>
	    </div>
	</div>
</div>
<style>.gray {color: #757575;}</style>
<script>
	$(document).ready(function(){
		//初始化MDUI控件
		mdui.mutation()
    });
	
	//创建
	MI.rListener('onload', function () {
		//更改样式
		$('#Header').css('background-image', 'linear-gradient(rgb(26 35 39) 10%, rgb(38 50 56) 100%)');
		$('.mdui-bottom-nav').css('background-image', 'linear-gradient(0deg, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 100%)');
		
		// 定义页面地址
		TOOLS.definePage('template/apps/settings/data_usage', 'genuser/home', null);
	})

	//关闭
	MI.rListener('onend', function () {
		//还原样式
		$('#Header').css('background-image', 'linear-gradient(180deg, rgba(0, 0, 0, 0.5) 10%, rgba(12, 12, 12,) 100%)');	
		$('.mdui-bottom-nav').css('background-image', 'linear-gradient(0deg, rgba(0, 0, 0, 0.4) 10%, rgba(12, 12, 12, 0.4) 100%)');
	})
</script>
