<div id="ApiKeyContainer">
    <p>
        <b>设置第三方应用程序接口密匙（API KEY）。</b>
    </p>
    <p>若此用户是管理员用户，那么密匙将可以"管理用户","管理所有服务器","获取高级信息"
    <br>若此用户是普通用户，则仅仅能管理其名下的所有服务器与获取部分信息。</p>

	<div class="mdui-textfield">
		<label class="mdui-textfield-label">API Key</label>
		<input class="mdui-textfield-input" type="text" disabled v-model="API_KEY" placeholder="关闭"/>
	</div>

    <p style="color: rgb(230, 55, 55);">此字段至关重要，切勿泄露，复制给其他人。</p>

    <p>留空则代表关闭此用户 API 功能 |
        <a href="https://github.com/Suwings/MCSManager/wiki/API-Documentation" target="_blank">接口开发文档（推荐）</a>
    </p>

	<button class="mdui-btn mdui-btn-raised mdui-ripple bg-green" v-on:click="updateKey()">
		<i class="mdui-icon material-icons">&#xe040;</i>
		更新 KEY
	</button>
	
	<button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-red-a200" v-on:click="deleteKey()">
		<span class="mdui-icon material-icons" >delete</span>
		删除
	</button>
    &nbsp;|&nbsp;
	<button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-blue-grey-400" v-on:click="TOOLS.popWindClose();">
		<span class="mdui-icon material-icons" >close</span>
		关闭
	</button>
	<P></P>
</div>
<script>
    new Vue({
        el: "#ApiKeyContainer",
        data: {
            API_KEY: ''
        },
        methods: {
            updateKey: function () {
                var that = this;
                WS.sendMsg('apikey/update', PAGE.username, function (obj) {
                    var API_KEY = obj.ResponseValue;
                    that.API_KEY = API_KEY;
                });
            },
            deleteKey: function () {
                var that = this;
                WS.sendMsg('apikey/delete', PAGE.username, function (obj) {
                    var API_KEY = obj.ResponseValue;
                    that.API_KEY = API_KEY;
                });
            }
        },
        mounted: function () {
            var that = this;
            WS.sendMsg('apikey/get', PAGE.username, function (obj) {
                var API_KEY = obj.ResponseValue;
                that.API_KEY = API_KEY;
            });
        }
    });
</script>