<div id='gen_re_password' class="OneContainer">
	<div class="mdui-row">
		<div class="mdui-col-sm-3">
			<div class="Panel PanelRed">
				<div class="PanelTitle">修改密码须知</div>
				<div class="PanelBody">
					<p>密码安全至关重要，安全程度绝大部分取决密码</p>
					<p>密码尽可能复杂，由数字，字母(大小写)，符号组合最佳</p>
					<p>密码必须 6~18 位，否则会拒绝修改</p>
					<p>其他任何人都不会知道您的密码</p>
				</div>
			</div>
		</div>
		<div class="mdui-col-sm-9">
			<div class="Panel PanelGreen">
				<div class="PanelTitle">密码修改表单</div>
				<div class="PanelBody">
					<div class="mdui-row">
						<div class="mdui-col-lg-12">
							<table class="PropertiesList mdui-table mdui-table-hoverable">
							  <thead>
								<tr>
									<th>项目标题</th>
									<th>值内容</th>
								</tr>
							  </thead>
							  <tbody>
								<tr>
									<th>原密码</th>
									<th>
										<div class="mdui-textfield">
											<input class="mdui-textfield-input" type="password" aria-describedby="basic-addon1"v-model="oldPassword"/>
										</div>

									</th>
								</tr>
								<tr>
									<th>新密码</th>
									<th>
										<div class="mdui-textfield">
											<input class="mdui-textfield-input" type="password" aria-describedby="basic-addon1"v-model="newPassword1"/>
										</div>
									</th>
								</tr>
								<tr>
									<th>确认新密码</th>
									<th>
										<div class="mdui-textfield">
											<input class="mdui-textfield-input" type="password" aria-describedby="basic-addon1"
												v-model="newPassword2" />
										</div>
									</th>
								</tr>
							  </tbody>
							</table>
							<br>
							<p>确认无误后，您可以进行以下操作:</p>
							<hr>
							<div class="PanelItemMuem">
								<button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-green-600" v-on:click="toRePassword()"><i class="mdui-icon material-icons">&#xe150;</i> 修改密码</button>
								<button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-blue-grey-500" v-on:click="toBack()"><i class="mdui-icon material-icons">&#xe5cb;</i> 返回到用户中心</button>
								<p></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--js-->
<script>
	MI.rListener('onload', function () {
		// 定义页面地址
		TOOLS.definePage('template/component/gen_repassword', '', '');

		new Vue({
			el: '#gen_re_password',
			data: {
				oldPassword: '',
				newPassword1: '',
				newPassword2: ''
			},
			methods: {
				toBack: function () {
					RES.redirectPage('./template/gen_home.html', 'genuser/home', '');
				},
				toRePassword: function () {
					if (this.newPassword1 != this.newPassword2) {
						TOOLS.pushMsgWindow('新密码与新的确认密码不一致');
						return;
					}
					var obj = {
						//username : '保留使用',
						oldPassword: this.oldPassword,
						newPassword: this.newPassword2,
					};
					WS.sendMsg('genuser/re_password', JSON.stringify(obj));
				}
			}
		});
	})

	MI.rListener('onend', function () { })
</script>